<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121.
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://firstfunctionapp20240226163303.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>false</LaunchSiteAfterPublish>
    <ResourceId>/subscriptions/4f4cc2cd-5c16-4233-8e73-131bb27ff926/resourceGroups/RGFirstAmol/providers/Microsoft.Web/sites/FirstFunctionApp20240226163303</ResourceId>
    <UserName>$FirstFunctionApp20240226163303</UserName>
    <_SavePWD>true</_SavePWD>
    <PublishUrl>https://firstfunctionapp20240226163303.scm.azurewebsites.net/</PublishUrl>
  </PropertyGroup>
</Project>